@font-face {
    font-family: "HelveticaNeue-Bold";
    src: url("../fonts/HelveticaNeue-Bold.ttf");
}

body {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    font-family: 'HelveticaNeue-Bold';
}